/* Handles anmiation in navbar */

@keyframes hop {

  0%,
  20%,
  32%,
  100% {
    transform: translateY(10px);

  }

  10% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(5px);
  }

}

#animated {
  animation-name: hop;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
}