/* CSS that only affects screens widert than 1024px */

@media only screen and (min-width: 1024px) {

  #features {
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 120px 0 0 0
  }

  #features>#pageHead {

    width: 30em;
    margin: 1em;
    border-radius: 50px;
  }

  #features>main {
    margin: 1em;
    overflow-y: scroll;

  }

  #features>main::-webkit-scrollbar {
    display: none;
  }

  nav {

    background-color: #084c61;
  }

  .user_avatar {
    padding: 0 0 0 0;
  }



}