@media only screen and (min-width: 1024px) {

  #features {
    flex-direction: row;
    height: 100vh;
    padding: 120px 0 0 0;

  }

  #features>#pageHead {
    margin: 1em;
    width: 30em;
 
    border-radius: 50px;
  }

  #features > main {
    margin: 1em;
    overflow-y: scroll;

  }

  nav {

    background-color: #084c61;
  }
  .user_avatar {
    padding: 0 0 0 0;
  }
  


}